<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleConfig.css">
    <title>Configuration</title>
</head>
<body>
    <div class="main">
        <form action="config" method="post">
            <table>
                <tbody id="container">
                    <tr>
                        <td colspan="2" class="title"><h1>Configurations</h1></td>
                    </tr>
                    <tr>
                        <td><img src="./Attention.svg" alt="warning"/><label for="databaseUrl" class="tooltip">URL de la base de données:<span class="tooltiptext">laisser le "/" à la fin</span></label></td>
                        <td><input type="url" required="true" name="databaseUrl" id="inpdburl"></td>
                    </tr>
                    <tr>
                        <td><label for="databaseEndpointName">Nom voulu de la db:</label> </td>
                        <td><input type="text" required="true" name="databaseEndpointName" id="inpcolname"></td>
                    </tr>
                    <tr>
                        <td><label for="extension">extension du fichier voulu:</label></td>
                        <td><input type="text" required="true" name="extension" id="ext"></td>
                    </tr>
                    <tr>
                        <th>Nom excel</th>
                        <th>Nom export</th>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="2"><input type="button" value="Ajouter une ligne" onclick="addRow()"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit">Envoyer</button></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="centercontainer"><a href="fileSelect" class="centered">Page d'upload de fichier</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <script src="./config.js"></script>
</body>
</html>