<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
</head>
<body>
    <form action="login" method="post">
        <label for="username">Nom d'utilisateur: </label> <input type="text" name="username" id="usr">
        <label for="password">Mot de passe: </label> <input type="password" name="password" id="pswd">
        <button type="submit">Envoyer</button>
    </form>
</body>
</html>