*{
    font-family: Arial,Helvetica,sans-serif;
}
html,body{
    background-image: url("./background.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.main{
    border-radius: 1.5vh;
    margin: auto;
    color: white;
}
a{
    color: #F68620;
}
a:hover{
    color: #F8B06C;
}
input[type="text"],input[type="url"]{
    width: 100%;
}
.title{
    text-align: center;
}
.toppadd{
    padding-top: 1vh;
}
.sheetinput{
    text-align-last: center;
}
button{
    width: 100%;
}
.main{
    max-width: fit-content;
    margin: auto;
    background-color: rgba(0,0,0,0.5) !important;
    padding: 1%;
}